/*layout-content-11*/
.layout-content-11 h2 {
  margin-bottom: 2rem; }

.button {
  display: block;
  width: 100%;
  margin: 1rem 0; }

.pricing-table {
  margin: 0;
  list-style: none; }
  .pricing-table li {
    background-color: #ddd;
    padding: 0.313rem 1rem; }
  .pricing-table li:first-child {
    border-radius: 5px 5px 0 0; }
  .pricing-table li:last-child {
    padding: 0 1rem 1rem;
    border-radius: 0 0 5px 5px; }
  .pricing-table .title {
    padding: 0.5rem 1rem;
    color: white;
    background: black; }
  .pricing-table .title--primary {
    background-color: olivedrab; }
  .pricing-table i {
    display: inline-block;
    margin-right: 5px;
    top: 0.5rem;
    position: relative; }
