$font-stack-regular:    'redacted_scriptregular', sans-serif;
$font-stack:			'Montserrat', sans-serif;

$primary-color:			olivedrab;
$minouche:				darken( $primary-color, 15% );
$font-color:			black;
$fontinvert-color:		white;

$island-color:			#ddd;
$bodybg-color:			#f5f5f5;

$radius:				5px;