/*layout-content-03*/
@import 'mixin';
@import 'variables';
.floated-img {
  margin-bottom: 1rem;

  h2 {
    margin-top: 0;
  }

  figure {
    background-color: $island-color;
    width: 100%;
    margin-bottom: 1rem;
  }
}


@include breakpoint(medium) {
  .floated-img {
    margin-bottom: 2rem;
    
    figure {
      float: left;
      width: 49.19%;
      max-width: 575px;
      margin-top: 0.625rem;
      margin-right: 1.875rem;
      margin-bottom: 1rem;
    }
  }

  .floated-img--right figure {
    float: right;
    margin-right: 0;
    margin-left: 1.875rem;
  }
}